<div class="modal-header">
    <ul class="list-button-action-modal">
     
	  <li ng-show="okAction">
	     <button ng-disabled="disableOkButton || loadingOkAction==true" class="btn btn-action-modal ripple" ng-click="okAction(this)">
	           <i id="btn-ok-action"  ng-show="loadingOkAction !=true"class="fa {{okActionIcon || 'fa-check'}}"></i>
	           <i ng-show="loadingOkAction==true" class="fa fa-refresh faa-spin animated ng-hide"></i>
	           <span >{{okActionLabel || 'SALVAR' |uppercase}}</span>
	     </button>
	  </li>
	  
	</ul>
	<h4  class="modal-title"> 
	    <a class="ripple"  ng-click="cancelAction(modalInstance)"  style="color: #FBF7F7;font-size:18px;padding:9px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
	    <strong>{{titulo}}</strong>
	</h4>
</div>

<div class="modal-body"  ng-transclude></div>
<div class="row"></div>
<div  ng-show="deleteAction && item.id" class="button-mobile ripple only-mobile" tooltip-enable="true" tooltip="Deletar este item" tooltip-placement="left">
  <a confirm="Tem certeza que deseja deletar este item?" ng-click="deleteAction()" style="background-color:#e12a0a!important"><i class="fa fa-trash"></i></a>
</div>




 

			
