<modal-content titulo="usuarioSistema.nome||usuarioSistema.login" modal-instance="this">


<div class="fomr-control col-lg-3">
<label>Login</label>
<input  ng-model="usuarioSistema.login" class="form-control"/>
</div>

<div class="fomr-control col-lg-3">
<label>Nome</label>
<input ng-model="usuarioSistema.nome" class="form-control"/>
</div> 

<div class="fomr-control col-lg-3">
<label>Senha</label>
<input type="password" ng-model="usuarioSistema.senha" class="form-control"/>
</div> 


<div class="fomr-control col-lg-3">
<label>Repetir senha</label>
<input type="password" ng-model="usuarioSistema.senha2" class="form-control"/>
</div>

<div class="col-lg-12">
  <hr></hr>
</div>

<div class="pull-right col-lg-3">
   <div class="input-group">
      <span class="input-group-btn">
        <button ng-click="fechar(this)" class="btn btn-default"><i class="fa fa-times"></i> Fechar</button>
      </span>
      <span class="input-group-btn">
        <button ng-click="salvar(usuarioSistema,this)" class="btn btn-primary">Salvar <i class="fa fa-floppy-o"></i></button>
      </span>
   </div>
</div>

</modal-content>

