<meta charset="UTF-8" />
<button class="btn btn-default  btn-xs dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user"></i>
   <strong>{{usuarioSistema.nome||usuarioSistema.login|uppercase}}</strong>
   <span class="caret"></span>
</button>
<ul class="dropdown-menu list-group pull-right" style="padding:5px">
<li ng-click="logOut()" class="list-group-item" >Sair <i class="fa fa-sign-out" aria-hidden="true"></i></li>
<li ng-click="editarUsuario(usuarioSistema)" class="list-group-item" >Alterar info Usuário <i class="fa fa-edit" aria-hidden="true"></i></li>
<li ng-click="editarFilial(currentFilial)" class="list-group-item" >Alterar info Empresa <i class="fa fa-edit" aria-hidden="true"></i></li>

</ul>


