<meta charset="utf-8">

<div class="col-lg-2"></div>
<div class="col-lg-8">

	<div class="row">
	        <div class="col-sm-6 col-xs-6 form-box">
				<div class="form-top">
					<p class="text-small text-center"
								style="font-size: 15px; margin: 0 0 5px">Vagas restantes</p>
							<div class="count-restante">{{vagasRestantes}}</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-6 form-box">
						<div class="form-top">
							<p class="text-small text-center"
								style="font-size: 15px; margin: 0 0 5px">Total de inscritos</p>
							<div class="count-inscritos">{{totalInscritos}}</div>
						</div>
			</div>
	</div>
	<div class="col-lg-12">
			<hr></hr>
	</div>
	
	<form ng-submit="cadastrarLead(lead)" id="formulario-cadastro" role="form" class="registration-form">
			<div class="form-group col-lg-6">
				<label for="form-email">Nome</label> 
				<input type="text" required="true" 	class="form-email form-control" id="email" ng-model="lead.nome">
			</div>
			<div class="form-group col-lg-6">
				<label for="form-email">Email</label>
				 <input type="email" required="true"
							name="email" placeholder="Informe seu melhor email :-)"
							class="form-email form-control" id="email" ng-model="lead.email" />
			</div>
	
			<div class="form-group  col-lg-6">
						<label for="form-last-name">Nº celular (Ex: 31992267947)</label> 
						<input ng-model="lead.telefone" 
							id="phone_number" type="tel" name="form-last-name"
							placeholder="Informe seu numero de celular com DDD"
							class="form-last-name form-control"  required="true"/>
		    </div>
	       
			<div class="form-group  col-lg-6">
					<label for="form-last-name">Unidade em que trabalha</label> <select 
							class="form-control form-email">
							<option>Ceasa Minas</option>
							<option>Ceasa Campinas</option>
							<option>Ceasa RJ</option>
					</select>
			</div>
			 
			<button ng-disabled="cadastrando==true" class="btn btn-block">
			<i ng-show="cadastrando==true" class="fa fa-refresh faa-spin animated" aria-hidden="true"></i>
			Pronto <i class="fa fa-smile-o" aria-hidden="true"></i></button>
	</form>
	</div>
	
	<div class="col-lg-2"></div>


