<meta charset="UTF-8" />
<modal-content titulo="vm.lead.nome" modal-instance="this">
<div class="panel">
		<div class="panel-heading">
			  <div class="pull-left">
			   <strong style="font-size:12px;"" uib-tooltip="{{vm.labelPivo}}">
			      <span class="destaque-item">{{vm.lead.etapaFunil}}</span>
			    </strong>
			  </div>
			   <div class="pull-right">
			        <button ng-click="vm.deletarLead(vm.lead)" confirm="Tem certeza que deseja deletar?" class="btn btn-default btn-xs"><i class="fa fa-trash"></i> Apagar Lead</button> <button ng-click="vm.atualizarLead()" class="btn btn-secondary btn-xs"><i class="fa fa-refresh"></i> Atualizar</button>
			   </div>
			   
			 
			  
			
			  <div class="row"></div>		
			  <div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body" >
		    <div class="generic-transition" ng-show="!inEdit || inEdit==false">
		          <div class="col-lg-4">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-user-o"></i> <strong>{{vm.lead.nome|uppercase}}</strong></span>
			     </div>
			     <div class="col-lg-4">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-phone-square"></i> <strong>{{vm.lead.telefone}}</strong></span>
			     </div>
			     <div class="col-lg-4">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-envelope" aria-hidden="true"></i> <strong>{{vm.lead.email}}</strong></span>
			     </div>
		     </div>
		      <div class="generic-transition"  ng-show="inEdit==true">
		          <div class="col-lg-4 form-group">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-user-o"></i> Nome</span>
			     	 <input class="form-control" ng-model="vm.lead.nome" />
			     </div>
			     
			     <div class="col-lg-4 form-group">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-phone-square"></i> Telefone</span>
			     	 <input class="form-control" ng-model="vm.lead.telefone" />
			     </div>
			     
			      <div class="col-lg-4 form-group">
			     	 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-envelope"></i> Email</span>
			     	 <input class="form-control" ng-model="vm.lead.email" />
			     </div>
		      </div>
		      <vertical-space></vertical-space>
		      <div class="pull-left col-lg-12">
		          <button ng-show="!inEdit || inEdit==false" ng-click="inEdit=true" class="btn btn-xs btn-default"><i class="fa fa-edit"></i> editar</button>
		          <button ng-show="inEdit==true"  ng-click="inEdit=false" class="btn btn-xs btn-default"><i class="fa fa-undo"></i> cancelar</button>
		          <button ng-show="inEdit==true" ng-click="inEdit=false;vm.salvar(vm.lead)" class="btn btn-xs btn-default"><i class="fa fa-check"></i> salvar</button>
		      </div>
		      <div class="col-lg-12">
		         <hr></hr>
		      </div>
			<div class="col-lg-8 pull-left">
			    <button data-toggle="modal" data-target="#comentarios" style="margin-top:9px;" class="btn btn-xs btn-default"> <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentários</button>
			    <button data-toggle="modal" data-target="#questionario" style="margin-top:9px;" class="btn btn-xs btn-secondary"> <i class="fa fa-list" aria-hidden="true"></i> Questionário</button>
			    <button ng-disabled="true" style="margin-top:9px;" class="btn btn-xs btn-default"> <i class="fa fa-external-link" aria-hidden="true"></i> Acessar sistema</button>
			    <button data-toggle="modal" data-target="#email" style="margin-top:9px;" class="btn btn-xs btn-default"> <i class="fa fa-envelope" aria-hidden="true"></i> Enviar email</button>
			    <button data-toggle="modal" data-target="#sms" style="margin-top:9px;" class="btn btn-xs btn-default"> <i class="fa fa-external-link" aria-hidden="true"></i> Enviar SMS</button>
			    
			</div>
			<div class="col-lg-4 pull-right">
			    <p style="margin-top:10px;" class="text-small text-muted">origem da aquisição: <span class="destaque-item">{{vm.lead.codOrigem}}</span></p>
			</div>
			
		
			
			<div class="col-lg-12">
			    <hr></hr>
			    <p class="text-muted">Onboarding na Landing-Page</p>
			</div>
			
			<div class="col-lg-4" style="padding-right:0px;">
			    <button uib-tooltip="{{vm.lead.metrics.assistiuVideoIntro || 0}} segundos" ng-disabled="!vm.lead.metrics.assistiuVideoIntro" class="btn btn-block text-small" ng-class="{'btn-primary': vm.lead.metrics.assistiuVideoIntro>0}">
			         <span class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Vídeo de Introdução</span>
			        
			    </button>
			</div>
			
		
			<div class="col-lg-12">
			    <hr></hr>
			    <p class="text-muted">Onboarding no sistema</p>
			</div>
			<div class="col-lg-4" style="padding-right:0px;">
			    <button uib-tooltip="{{vm.lead.metrics.onboard_intro|date:'dd/MM/yyyy'}} - {{vm.lead.metrics.onboard_intro|date:'HH:mm:ss'}}" ng-disabled="!vm.lead.metrics.onboard_intro" class="btn btn-block text-small" ng-class="{'btn-primary': vm.lead.metrics.onboard_intro>0}">
			         <span class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Introdução</span>
			        
			    </button>
			</div>
			
			<div class="col-lg-4" style="padding-right:0px;">
			    <button  uib-tooltip="{{vm.lead.metrics.onboard_menu|date:'dd/MM/yyyy'}} - {{vm.lead.metrics.onboard_menu|date:'HH:mm:ss'}}"  ng-disabled="!vm.lead.metrics.onboard_menu" class="btn btn-block  text-small" ng-class="{'btn-primary': vm.lead.metrics.onboard_menu>0}">
			         <span class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Menu </span>
			        
			    </button>
			</div>
			
			
			<div class="col-lg-4" style="padding-right:0px;">
			    <button uib-tooltip="{{vm.lead.metrics.onboard_listagem_produtos|date:'dd/MM/yyyy'}} - {{vm.lead.metrics.onboard_listagem_produtos|date:'HH:mm:ss'}}"  ng-disabled="!vm.lead.metrics.onboard_listagem_produtos" class="btn btn-block  text-small" ng-class="{'btn-primary': vm.lead.metrics.onboard_listagem_produtos>0}">
			         <span class="text-center"><i class="fa fa-check" aria-hidden="true"></i> Listagem de produtos </span>
			        
			    </button>
			</div>
			
			<div class="col-lg-12">
			    <hr></hr>
			</div>
			
			
			 <div class="col-lg-4 form-group ">
			       <label>Data da apresentação</label>
			       <input st-input tipo="data" class="form-control" ng-model="vm.lead.dataApresentacao" />
			 </div>
			 
			  <div class="form-group col-lg-4" style="padding-left:0px;">
			       <label>Hora da apresentação</label>
			       <input type="time" class="form-control" ng-model="vm.lead.horaApresentacao" />
			 </div>
			 
			 <div class="form-group col-lg-4" ng-show="vm.lead.horaApresentacao">
			         <label>Realizada</label>
			         <br>
			         <input ng-change="vm.salvar(vm.lead)" type="checkbox" ng-true-value="1" ng-false-value="0"  class="form-control"   ng-model="vm.lead.apresentacaoRealizada"/>
			      
					</checkbox>
					
			 </div>
			 <div class="col-lg-12 pull-left" style="margin-top:-5px;">
			    <button confirm="Tem certeza que deseja salvar?" ng-click="vm.lead.apresentacaoRealizada=0;vm.salvar(vm.lead)" class="btn btn-default btn-xs">Salvar <i class="fa fa-check"></i></button>
			 </div>
			 <div class="col-lg-12">
			     <hr></hr>
			 </div>
		   
		    <div class="form-group col-lg-6" >
		        <label>etapa do funil</label>
		       <auto-complete-object ng-change="vm.changeEtapaLead(vm.lead)" initial-busca="''"  inline="true"  value-only="true" extra-class="''"  label-cad="'Cadastrar nova etapa de funil'" place-holder="'Informe a etapa do lead'"  object-op="'opcao'"  label="'valor'" fix-properties="{descricao:'etapa_lead'}" ng-model="vm.lead.etapaFunil" ></auto-complete-object>

		    </div>
		    <div class="form-group col-lg-6">
		        <label uib-tooltip="Ultimo login efetuado no sistema">Data da ultima etapa</label>
		        <br>
		        <span class="text-muted text-small"><strong> {{vm.lead.dataUltimaEtapa|date:'dd/MM/yyyy'}} <span class="destaque-item">{{vm.diasUltimaEtapaLead}} dias</span></strong></span>
		    </div>
		    <div class="col-lg-12">
		        <hr></hr>
		    </div>
		    <div class="form-group col-lg-3">
		        <label uib-tooltip="Ultimo login efetuado no sistema">ultimo login</label>
		        <br>
		        <span class="text-muted text-small"><strong> {{vm.lead.metrics.dataUltimoLogin|date:'dd/MM/yyyy'}}</strong></span>
		    </div>
		    
		    <div class="form-group col-lg-3">
		        <label uib-tooltip="Ultimo login efetuado no sistema">ultimo cadastro</label>
		        <br>
		        <span class="text-muted text-small"><strong> ---</strong></span>
		    </div>
		    
		  
		      <div class="col-lg-3">
		       		<button ng-show="false" style="margin-top:9px;" class="btn btn-xs btn-default"> <i class="fa fa fa-exchange " aria-hidden="true"></i> Financeiro</button>
		     </div>
		     
		   
			
			<vertical-space></vertical-space>
			<vertical-space></vertical-space>
			<div class="col-lg-3" >
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-list"></i> Produtos cadastrados</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.cads_produto||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-3" >
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Vendas realizadas</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.cads_venda||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-3">
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-user-o" aria-hidden="true"></i> Clientes</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.cads_cliente||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-3" style="padding-right:0px;">
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-list" aria-hidden="true"></i> Visualizações de relatórios</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.visualizacoes_relatorio||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-12">
			    <hr></hr>
			</div>
			<div class="col-lg-4">
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-laptop" aria-hidden="true"></i> Computador</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.acessos_desktop||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-4" >
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-tablet" aria-hidden="true"></i> Tablet</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.acessos_tablet||0}}</strong></span>
			    </button>
			</div>
			<div class="col-lg-4" style="padding-right:0px;">
			    <button class="btn btn-block btn-default text-small">
			         <span class="text-center"><i class="fa fa-mobile" aria-hidden="true"></i> Celular</span>
			         <br>
			         <span class="text-center"><strong>{{vm.lead.metrics.acessos_mobile||0}}</strong></span>
			    </button>
			</div>
			<vertical-space></vertical-space>
			
			
			
			
			
			
		</div>
	</div>
</modal-content>

<st-modal titulo="SMS - {{vm.lead.nome}}" idmodal="sms">
   <div class="col-lg-12">
		 <span class="text-muted text-small"><i style="color:var(--secondary-color)" class="fa fa-phone-square"></i> <strong>{{vm.lead.telefone}}</strong></span>
   </div>
   <div class="col-lg-12">
      <textarea  rows="9" class="form-control" ng-model="vm.sms"></textarea>
   </div>
   <vertical-space></vertical-space>
   <vertical-space></vertical-space>
   <div class="pull-right">
       <button ng-disabled="vm.enviandoSMS==true" class="btn btn-secondary" ng-click="vm.enviarSMS(vm.sms)"> Enviar  SMS <i class="fa fa-external-link"></i></button>
   </div>
</st-modal>

<st-modal titulo="Enviar email - {{vm.lead.nome}}" idmodal="email" size="lg">
   <form ng-submit="vm.enviarEmail(vm.assuntoEmail, vm.contentEmail)">
         
	    <div class="col-lg-6 form-group">
	        <label>Assunto</label>
	        <input ng-model="vm.assuntoEmail" class="form-control" required />
	    </div>
	   
	    <div class="form-group col-lg-6">
	        <button ng-click="getEmailTemplates()" ng-show="!vm.emailTemplates" class="btn btn-xs btn-default">mostrar templates</button>
	         <div ng-show="vm.emailTemplates">
		        <label>Escolha um template</label>
		         <select ng-model="vm.templateEmail" ng-options="template as template.titulo for template in vm.emailTemplates" ng-change="vm.changeEmailTemplate(vm.templateEmail)" class="form-control">
		         </select>
	         </div> 
	    </div>
	   <div class="col-lg-12">
	        <text-angular ng-model="vm.contentEmail"></text-angular>
	   </div>
	   <vertical-space></vertical-space>
	   <vertical-space></vertical-space>
	   <div class="pull-right">
	       <button ng-disabled="vm.enviandoEmail==true" type="submit" class="btn btn-secondary">Enviar email <i class="fa fa-envelope"></i></button>
	   </div>
   </form>
</st-modal>



<st-modal titulo="Comentários - {{vm.lead.nome}}" idmodal="comentarios">
   <div class="col-lg-12">
      <text-angular ta-toolbar=[] ng-model="vm.lead.comentarios"></text-angular>
   </div>
   <vertical-space></vertical-space>
   <vertical-space></vertical-space>
   <div class="pull-right">
       <button class="btn btn-secondary" ng-click="vm.salvar(vm.lead)">Salvar <i class="fa fa-check"></i></button>
   </div>
</st-modal>


<st-modal titulo="Questionário - {{vm.lead.nome}}" idmodal="questionario">
   
   <vertical-space></vertical-space>
   
   <div class="col-lg-12">
		<div class="form-group">
			<ul class="group-list">Questionário
			
			<li class="group-list-item" >
			<input type="checkbox" ng-model="vm.lead.questions.emite_nota_fiscal" ng-true-value="'true'" ng-false-value="'false'"  />
				Trabalha com nota fiscal</li>
				<li class="group-list-item" >
			<input type="checkbox" ng-model="vm.lead.questions.trabalha_com_caixas_retornaveis" ng-true-value="'true'" ng-false-value="'false'"  />
				Trabalha com caixas retornáveis</li>
				
				<li class="group-list-item" >
			<input type="checkbox" ng-model="vm.lead.questions.visualizou_demonstracao" ng-true-value="'true'" ng-false-value="'false'"  />
				Visualizou demosntração do sistema</li>
				</ul>
		</div>
	</div>
	
	 <div class="col-lg-12">
		<div class="form-group">
		 <ul style="list-style: none;"> Maiores problemas
		     <li>
		      <label><input ng-model="vm.lead.questions.problema_controlar_estoque" ng-false-value="'false'"   ng-true-value="'true'" type="checkbox" /> Controlar estoque</label>
		     </li>
		     <li>
		      <label><input ng-model="vm.lead.questions.problema_gerenciar_vendas_a_prazo" ng-false-value="'false'"   ng-true-value="'true'"  type="checkbox" /> Gerenciar vendas a prazo (Fiados)</label>
		     </li>
		     <li>
		      <label><input ng-model="vm.lead.questions.problema_passar_vendas_a_limpo" ng-false-value="'false'"   ng-true-value="'true'"  type="checkbox" /> Passar vendas a limpo</label>
		     </li>
		     <li>
		      <label><input ng-model="vm.lead.questions.problema_contas_manuais" ng-false-value="'false'"   ng-true-value="'true'"  type="checkbox" /> Contas manuais</label>
		     </li>
		     <li>
		      <label><input ng-model="vm.lead.questions.problema_emprestimo_embalagens" ng-false-value="'false'"   ng-true-value="'true'"  type="checkbox" /> Gerenciar empréstimos </label>
		     </li>
		     <li>
		          <label class="text-small text-muted">Outros problemas</label>
                   <input  placeholder="Outros problemas" class="form-control" ng-model="vm.lead.questions.outro_problema">
		     </li>
            </ul>
		</div>
	</div>
	
	<vertical-space></vertical-space>
	<div class="form-group col-lg-4">
	    <label>Perfil</label>
	    <select ng-model="vm.lead.questions.perfilLead" class="form-control" >
	          <option value="">------------</option>
	         <option value="produtor">Produtor</option>
	         <option value="vendedor">Vendedor</option>
	         <option value="produtor_vendedor">Produtor e vendedor</option>
	    </select>
	</div>
   <vertical-space></vertical-space>
   <vertical-space></vertical-space>
   <div class="pull-right">
       <button class="btn btn-secondary" ng-click="vm.salvar(vm.lead)">Salvar <i class="fa fa-check"></i></button>
   </div>
</st-modal>






