<meta charset="UTF-8" />
 
 <div ng-show="activeTab==0">
	 <div class="col-lg-4 col-xs-12"  style="padding:12px;">
		<a  ng-click="changeTab(1)" class="btn btn-block btn-default btn-lg" style="color:rgba(86, 85, 85, 0.85);">
			<i class="fa fa-sign-in fa-2x" style="font-size: 3em;color:#4aba58;"></i><br>  Recebimentos
				<br>
				<label class="text-muted" style="font-size:12px;"><i class="fa fa-info-circle"></i>
						   Vendas e outros recebimentos.
				</label>
		</a>
	</div>
	
	<div class="col-lg-4 col-xs-12"  style="padding:12px;">
		<a  ng-click="changeTab(2)" class="btn btn-block btn-default btn-lg" style="color:rgba(86, 85, 85, 0.85);">
			<i class="fa fa-sign-out fa-2x" style="font-size: 3em;color:#e91a1a;"></i><br>  Despesas
				<br>
				<label class="text-muted" style="font-size:12px;"><i class="fa fa-info-circle"></i>
						   Despesas lançadas.
				</label>
		</a>
	</div>
	
</div>


<div class="col-lg-12" ng-show="activeTab!=0">
  <div class="row printHide"></div>		    
   <mov-list id="mov-list-receitas"  label-cad="'Cadastrar Novo'"  ng-if="activeTab==1"  label="'Recebimentos (Receitas)'" mode="'year'" id-imp="'receitas'" fix-properties="{tipo:2}"></mov-list>
   <mov-list id="mov-list-despesas" label-cad="'Cadastrar Nova'" ng-if="activeTab==2" label="'Pagamentos (Despesas)'" mode="'day'" id-imp="'despesas'" fix-properties="{tipo:1}"></mov-list>
   <mobile-tabs active-tab="activeTab" tabs="[{label:'Recebimentos', icon:'sign-in'}, {label:'Despesas',icon:'sign-out'}]"></mobile-tabs>
</div>	
	
	
			
		
		