<!-- Defina aqui a descrição do protótipo -->
<meta charset="UTF-8" />
<h3 class="text-muted text-center">Quais problemas você enfrenta na Ceasa?</h3>
<vertical-space></vertical-space>
<ul>
   <li style="list-style-type: none;"> <checkbox class="btn-primary"
					    ng-model="vm.pdv.carregado"
					    ng-true-value="1"
					    ng-false-value="0"
					    name="custom-name" 
					></checkbox>
	<label class="text-muted">Controle de estoque</label>
   </li>
    <li style="list-style-type: none;"> <checkbox class="btn-primary"
					    ng-model="vm.pdv.carregado"
					    ng-true-value="1"
					    ng-false-value="0"
					    name="custom-name" 
					></checkbox>
	<label class="text-muted">Organização das vendas</label>
   </li>
    <li style="list-style-type: none;"> <checkbox class="btn-primary"
					    ng-model="vm.pdv.carregado"
					    ng-true-value="1"
					    ng-false-value="0"
					    name="custom-name" 
					></checkbox>
	<label class="text-muted">Análise de relatórios</label>
   </li>
</ul>

