<meta charset="UTF-8" />

<div class="form-group col-lg-6">
		<label class="text-muted text-small">Informações Adicionais de Interesse do Fisco (Apresentado na DANFE)</label>
	    <textarea ng-model="infAdic.infAdFisco" class="form-control" rows="5" ></textarea>
</div>


<div class="form-group col-lg-6">
		<label class="text-muted text-small">Informações Adicionais de Interesse do Contribuinte (Apresentado na DANFE)</label>
	    <textarea ng-model="infAdic.infCpl" class="form-control" rows="5" ></textarea>
</div>


<div class="form-group col-lg-6">
		<label class="text-muted text-small">Observações (Não apresentado na DANFE)</label>
	    <textarea ng-model="infAdic.observacoes" class="form-control" rows="5" ></textarea>
</div>

<div class="col-lg-6">
   <div class="form-group col-lg-6">
       <label class="text-small text-muted">ID da venda vinculada a nota</label>
       <input disabled="" class="form-control" />
   </div>
   
   <div class="form-group col-lg-6">
       <label class="text-small text-muted">ID da movimentação vinculada a nota</label>
       <input disabled="" class="form-control" />
   </div>
   
   <div class="form-group col-lg-6">
       <label class="text-small text-muted">ID da pessoa vinculada a nota</label>
       <input disabled="" class="form-control" />
   </div>
   
</div>





	
