<meta charset="UTF-8" />

    
		        
    <vertical-space></vertical-space>
     
	  
	  <div class="col-lg-3 col-xs-6">
		       <button id="btn-add-parcela" ng-click="escValorParcela()" class="btn btn-block btn-secondary"><i class="fa fa-plus"> </i> Adicionar pagamento </button>
	  </div>
	  
	  <div ng-hide="hideButtonSalvar==true" class="col-lg-3 col-xs-6">
		       <button  data-dismiss="modal" ng-click="salvar(movs)" class="btn btn-block btn-primary"><i class="fa fa-check"> </i> Salvar <i ng-if="salvando==true" class="fa fa-refresh faa-spin animated" aria-hidden="true"></i></button>
	  </div>
		
	  
	   <vertical-space></vertical-space>
	   <vertical-space></vertical-space>
		
	
	 <div  class="col-lg-6 panel generic-transition" ng-repeat="mov in movs" >
		   	  <div class="panel-heading">
		   	       <div class="pull-left">
		   	          <h4 class="text-muted" style="margin-left:-3px;"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> <strong>Parcela:</strong> <span style="font-size:15px;">{{$index+1}}/{{movs.length}}</span></h4>
		   	       </div>
		   	       <div class="pull-right">
		   	           <button ng-click="deletarParcela(mov,$index,movs)" ng-disabled="true"  class="btn btn-default"><i class="fa fa-trash"></i> Apagar</button>
		   	       </div>
		   	       <vertical-space></vertical-space>
		   	      
		   	  </div>
		   	  <div class="panel-body">   
		   	         <div class="col-lg-6 col-xs-6">
		   	            <button-baixa-mov template-version="2" label="Pago" class="printHide" mov="mov"></button-baixa-mov>
		   	         </div>
		   	         <div class="col-lg-6 col-xs-6">
		   	            <label class="textt-muted">Valor : <span class="text-small">R$</span> <strong style="color:var(--secondary-color);font-size:19px">{{mov.valor|number:2}}</strong></label>
		   	         </div>
		   	   </div>
		 </div>
		 
	
	<vertical-space></vertical-space>
	<vertical-space></vertical-space>



