<meta charset="UTF-8" />
<!-- Step 1 -->
<div ng-if="vm.step==1" class="generic-transition">
 <h3 class="text-muted text-center">Olá  <i class="fa fa-smile-o"></i></h3>
 <h4 class="text-muted text-center">Seja bem vindo ao Ceasa Plus!</h4>
 <p class="text-center"><img  ng-src="computador-onboard.png" ></img></p>
 <p class="text-muted text-center col-lg-12">Para mais conforto e praticidade, você pode utilizar o <strong>CeasaPlus</strong> também em um
  computador ou notebook.
 </p>
</div>
<!-- FIM Step 1 -->


<!-- Step 2 -->
<div ng-if="vm.step==2" class="generic-transition">
    <h2 class="text-muted text-center">Parabéns <i style="color:var(--secondary-color)" class="fa fa-trophy" aria-hidden="true"></i></h2>
	<h4 class="text-muted text-center">Você já faz parte do nosso time!</h4>
	<vertical-space></vertical-space>
    <!--  
	<div class="col-lg-12 text-center" ng-show="vm.showCountClientes==true">
	    <button class="btn-count-users" ng-class="{'btn-count-users-large-font':finishCount==true }"><delay-count finish="finishCount" number="45" time="49"></delay-count></button>
	    <vertical-space></vertical-space>
	    <p class="text-muted">Este é o número de vendedores que estão utilizando o CeasaPlus para facilitar o trabalho na Ceasa <i class="fa fa-smile-o"></i></p>
	</div>
	-->
	  <p class="text-center"><img  ng-src="philipe.jpg"  style="border-radius: 120px;     border: solid 5px #4aba58;"></img></p>
	  <p class="text-muted col-lg-12">"Obtive diminuição do esforço intelectual e economia de tempo já que os relatórios do <strong>Ceasa Plus</strong> me mostram com um clique todo o resultado do dia."</p>
	  <p class="text-small text-muted text-center col-lg-12"><strong>Philipe, </strong>Agrodistribuidor na Ceasa Minas.</p>
</div>
<!-- FIM Step 2 -->


<!-- Step 3 -->
<div ng-if="vm.step==3"  class="generic-transition">
    <h3 class="text-muted text-center">Pronto para começar <i class="fa fa-question-circle-o" aria-hidden="true"></i></h3>
    <p class="text-center"><img  ng-src="produto-onboard.png" ></img></p>
    <p class="text-center text-muted">Clique no botão abaixo para cadastrar seu primeiro produto, é rapidinho <i class="fa fa-smile-o"></i></p>
</div>
<!-- FIM Step 3 -->


<!-- Step 4 -->
<div ng-if="vm.step==4">

</div>
<!-- FIM Step 4 -->




<vertical-space></vertical-space>
<ul class="simple-step center-block">
	   <li><i class="fa" ng-class="{'fa-circle':vm.step==1, 'fa-circle-thin': vm.step!=1}"></i></li>
	  <li><i class="fa" ng-class="{'fa-circle':vm.step==2, 'fa-circle-thin': vm.step!=2}"></i></li>
	   <li><i class="fa" ng-class="{'fa-circle':vm.step==3, 'fa-circle-thin': vm.step!=3}"></i></li>

</ul> 
<vertical-space></vertical-space>
<button class="center-block btn btn-secondary button-step" ng-click="vm.nextStep()">{{vm.labelButton}} <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
<button ng-show="vm.showButtonCadastrarProdutoDepois==true" class="center-block btn btn-default button-step" ng-click="vm.toInicio()">Cadastrar depois <i class="fa fa-clock-o" aria-hidden="true"></i></button>

