<meta charset="UTF-8" />
<!-- 
<div  ng-show="step!=2" class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a  type="button" class="btn btn-default btn-circle" ng-class="{'btn-primary': step==0}">1</a>
      </div>
      <div class="stepwizard-step">
        <a  type="button" class="btn btn-default btn-circle" ng-class="{'btn-primary': step==1}">2</a>
      </div>
    </div>
  </div>
   -->

<div ng-show="step==0" class="row">
   <div class="col-lg-12">
      <h2 class="text-center text-muted">Olá <i class="fa fa-smile-o" aria-hidden="true"></i></h2>
      <h3 class="text-center text-muted">Quer evitar prejuízos e facilitar <strong>muito</strong>  o seu trabalho na  <strong style="font-size:25px;">Ceasa?</strong></h3>
   </div>
   
   <div class="vertical-space"></div>
   <div class="col-lg-6">
         <button ng-click="responder('sim')" class="btn btn-resposta btn-block">SIM</button>
   </div>
   <div class="col-lg-6">
       <button ng-click="responder('nao')"  class="btn btn-nao btn-resposta btn-block">NÃO</button>
   </div>
</div>

 <div ng-show="step==1" class="row">
   <div class="col-lg-12 text-center">
		<youtube-video   player-width="tamanhoVideo" player-height="tamanhoVideo" player-vars="playerVars"  video-url="'https://youtu.be/93RTB0PXAU0'" player="videoIntro"></youtube-video>
		<div class="form-group">
		            
					<button ng-disabled="!showButtonProx || showButtonProx==false" ng-click="cadastrar()"  type="button" class="btn btn-primary btn-lg" ng-style="{'width': tamanhoVideo}">
					     <h2 ng-show="showButtonProx" style="color: white;line-height:15px;font-size:25px">Efetuar cadastro</h2>
					     <h2 ng-show="!showButtonProx || showButtonProx==false" style="color: white;line-height:15px;font-size:15px"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Veja o vídeo para se cadastrar.</h2>
					     <h4>({{vagasRestantes}} vagas restantes)</h4>
					</button>
		</div>
	</div>
	
</div>
	
