<div class="busca-auto-complete">
<div class="modal-header">

  <div class="col-lg-1 col-xs-1" style="padding-left:3px;padding-right:3px;margin-top:5px">
  
            <a class="ripple"  ng-click="fecharModal(this)"  style="color: #FBF7F7;font-size:20px;padding:9px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
			
	 </div>
   <div class="col-lg-11 col-xs-11" style="padding-left:9px;padding-right:0px;width:89%">
        <div class="input-group">
	        <input id="{{idInput}}" ng-change="buscarItem(labelValue)" ng-model-options="{debounce: 500}"  ng-model="labelValue"  autocomplete="off"   placeholder="{{placeHolder}}" class="form-control"  focus-me="true"/>
	   		<span   ng-show="labelValue" class="input-group-btn"><button type="button" ng-click="labelValue='';buscarItem('')" class="btn btn-default btn-busca-map-limpa text-muted input-primary" style="height:42px;"><i class="fa fa-trash-o"></i></button></span>  
        </div>
   </div>
   
</div>

<div class="modal-body">
<div class="row"></div>
	       
	 <!-- aba de resultados -->
	<div ng-show="aba=='resultados' ||!aba" class="col-lg-12 auto-complete-inline" >
		 <div  class="pull-left" style="margin-left:5px;padding:5px 0px 5px 0px">
				 <a ng-show="labelValue.length>0 && salvandoItem!=true" ng-click="cadItem(labelValue, auxItemFilial.allFilials, this)" class="btn btn-secondary" ><i class="fa fa-plus-square-o" aria-hidden="true"></i> cadastrar <strong>"{{labelValue}}"</strong></a>
		        <label ng-show="salvandoItem == true" >Cadastrando item <i class="fa fa-refresh faa-spin animated" aria-hidden="true"></i></label>
		 </div>
	   
	<!-- Resultados --> 
	<ul ng-show="obs.length>0 &&(!hideResults || hideResults==false)" class="list-group" style="padding:5px">
	     
		  <div class="row"></div>
		  <li ng-repeat="item in obs" class="list-group-item" ng-click="selecionarItem(item)" style="height:55px">
			  <strong>{{item[1]}}</strong>
			  <br>
			  <span ng-show="subLabel" class="text-small text-muted">{{subLabel.label}}: {{item[2]}} </span>
		  </li>
	 </ul>
</div>
</div>
</div>



