<meta charset="UTF-8" />
<modal-content  loading-ok-action="salvando" cancel-action="cancelAction" ok-action="cadastrarProduto"  ok-action-label="infoModal.okActionLabel" ok-action-icon="infoModal.okActionIcon"   item="produto" titulo="infoModal.titulo" modal-instance="this">

 <div class="col-lg-2"></div> 
 <div class="col-lg-8">
      <div class="only-desktop">
	         <div ng-show="step==2" class="pull-left">
	            <button class="btn btn-default" ng-click="cancelAction()">Voltar</button>
	        </div>
	        <div ng-show="produto.nome.length>0" class="pull-right ng-enter">
	            <button class="btn btn-secondary" ng-click="cadastrarProduto()"><i class="fa {{infoModal.okActionIcon}}"></i> {{infoModal.okActionLabel}}</button>
	        </div>
	   </div>
	   <vertical-space></vertical-space>
	   <div ng-show="step==1">
		     <div class="form-group">
		         <label>Informe o nome do produto</label>
		         <input ng-model="produto.nome" placeholder="Ex: BATATA DOCE PREMIUM" class="form-control"/>
		     </div>
	   </div>
	   
	   <div ng-show="step==2">
		     <div class="form-group">
		         <label>Qual é a quantidade em estoque do produto <strong>{{produto.nome}}?</strong></label>
		         <input type="tel" ng-model="produto.quantidade"  class="form-control"/>
		     </div>
	   </div>
	   
 </div>  
 
 <div class="col-lg-2"></div> 

</modal-content>

