<meta charset="UTF-8" />

<!--  
<div class="panel">
	<ul  class="list-group only-mobile" style="padding:5px;">
			  <li ng-click="openDetalhePedido(r)" ng-repeat="r in itens" class="list-group-item" ng-click="selecionarItem(item)" style="height:79px;">
				  <strong style="font-size:17px;">{{r.produto.nome|uppercase}}</strong>
				  <br>
				  <span class="text-small  text-muted pull-left" >quantidade: {{r.quantidade}} </span>
				  <span class="text-small  text-muted pull-right">valor unitário: {{r.valorUnitario|number:2}} </span>
			  </li>
	</ul>
</div>
-->


 <div   ng-repeat="r in itens" class="panel" ng-class="r.quantidade==0||!r.quantidade ? 'panel-disable' : 'panel-secondary'" >
	<div  class="panel-heading" style="padding: 2px 2px 0px 2px;">
		 <label  class="pull-left"><a ng-click="editarProduto(r.produto)"><i class="fa fa-edit"  style="font-size:1.5em" uib-tooltip="Editar produto"></i></a>
		     <destaque-texto  texto="r.produto.nome|uppercase" busca="busca"></destaque-texto>
		    <br class="only-mobile">
		   <label class="text-small" ng-show="r.produto.quantidade!=null">(Estoque atual: {{r.produto.quantidade}} {{r.produto.uCom || 'uni'|lowercase}})</label>
           <button-estoque auto-load="false" produto="r.produto"></button-estoque> 		   
		   <br>
		   <span class="text-small" ng-if="r.produto.codigoBarras">cód: <strong>{{r.produto.codigoBarras}}</strong></span>
		   <span  class="text-small" ng-if="r.produto.historicoPrecoCompra.length>1" >preço de compra: R$ <strong>{{r.produto.historicoPrecoCompra.split(',')[r.produto.historicoPrecoCompra.split(',').length-1].split('@')[1]}}</strong></span>
		   
		 </label>
		<label class="pull-right">
		  <a ng-if="r.quantidade>0" ng-click="deletarPedido(r)" class="default" style="color:white;font-size:1.5em;"><i class="fa fa-trash-o"></i></a>
		</label>
		<div class="row"></div>
	</div>
	<div class="panel-body" style="padding: 0px 5px 0px 5px;">
	    <vertical-space></vertical-space>
		<div class="form-group" ng-class="{'col-xs-12':hideValorUnitario==true,'col-xs-6':!hideValorUnitario}">
			<strong><label class="text-small text-muted">{{labelQuantidade||'Quantidade'}}</label></strong>
			<input   ng-change="addPedido(r)"  placeholder="0 unidades"  ng-model="r.quantidade" type="number" class="form-control"/>
		</div>
		<div ng-if="!hideValorUnitario || hideValorUnitario==false" class="form-group col-xs-6">
			<strong><label class="text-small text-muted">{{labelValorUnitario||'Valor unitário'}}</label></strong>
			<input type="tel" ng-change="addPedido(r)"  ng-model="r.valorUnitario" ng-init="r.valorUnitario=r.valorUnitario ||  (r.produto.preco>0?r.produto.preco:'')" ui-number-mask="2"  class="form-control"/>
		</div>
	</div>
</div>
			  
			
