<!DOCTYPE html>
<html ng-app="adm" lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title></title>
<div id="spin_ini" style="z-index: 9999"></div>


<!-- Spin -->
<script src="global/spinner/spin.js"></script>

<script>
var opts ={radius:27, width:10, length: 19};
		var target = document.getElementById('spin_ini')
		var spinner = new Spinner(opts).spin(target);
</script>



<!-- CSS -->
<!-- CSS -->
<!-- build:css css/style.css -->
<link href="global/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="global/bootstrap-tour/bootstrap-tour.min.css"
	rel="stylesheet">
<link href="global/checkbox/bootstrap-checkbox.css" rel="stylesheet">
<link href="css/metisMenu.min.css" rel="stylesheet">
<link href="css/timeline.css" rel="stylesheet">
<link href="css/sb-admin-2.css" rel="stylesheet">
<link href="global/font-awesome-4.5.0/css/font-awesome.css"
	rel="stylesheet">
<link href="global/font-awesome-4.5.0/css/awesome-animation.css"
	rel="stylesheet">
<link rel="stylesheet" href="global/style.css">
<link rel="stylesheet" href="global/angularPrint.css">
<link href="global/jquery-ui.css" rel="stylesheet">
<link rel="stylesheet" href="global/angular-chart/angular-chart.css">
<link rel="stylesheet" href="global/bootflap/bootflap.css">
<link rel="stylesheet" href="global/angular-clock.css">

<!-- endbuild -->



<!-- App e Libs-->
<!-- build:js js/app.js -->
<script src="global/jquery.min.js"></script>
<script src="global/jlinq.js"></script>
<script src="global/mask/maskedinput.js"></script>
<script src="global/mask/maskMoney.js"></script>
<script src="global/jquery-ui.js"></script>
<script src="global/checkbox/bootstrap-checkbox.js"
	type="text/javascript"></script>
<script src="global/MonthPicker.js"></script>
<script src="global/date-picker-br.js"></script>
<script src="global/angular.js"></script>
<script src="global/angular-locale_pt-br.js"></script>
<script src="global/angular-messages.js"></script>
<script src="global/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/config/configAdmRouter.js"></script>
<script src="value/config.js"></script>
<script src="global/ui-bootstrap.js"></script>
<script src="global/angular-chart/Chart.js" type="text/javascript"></script>
<script src="global/angular-chart/angular-chart.js"
	type="text/javascript"></script>
<script src="global/angular-confirm.js" type="text/javascript"></script>
<script src="lib/metisMenu.min.js"></script>
<script src="lib/admin.js"></script>
<script src="global/checkbox/bootstrap-checkbox.js"></script>
<script src="global/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="global/bootstrap/js/transition.js" type="text/javascript"></script>
<script src="global/bootstrap-notify.js" type="text/javascript"></script>
<script src="global/angular-cookies.js" type="text/javascript"></script>
<script src="global/ngDraggable.js"></script>
<script src="global/angular.audio.js"></script>
<script src="global/ngStorage.js"></script>
<script src="global/angular-filter.min.js"></script>
<script src="global/angular-clock.js"></script>
<script src="global/bootstrap-tour/bootstrap-tour.min.js"></script>
<script src="global/bootstrap-tour/angular-bootstrap-tour.min.js"></script>




<!-- Services -->
<script src="js/services/produtoService.js"></script>
<script src="js/services/movimentacaoService.js"></script>
<script src="js/services/produtoCategoriaService.js"></script>
<script src="js/services/modalService.js"></script>
<script src="js/services/relatorioService.js"></script>
<script src="js/services/loginService.js"></script>
<script src="js/services/pdv/produtoService.js"></script>
<script src="js/services/pdv/produtoService.js"></script>
<script src="js/services/pdv/usuarioService.js"></script>
<script src="js/services/pdv/pedidoService.js"></script>
<script src="js/services/pdv/serviceVendaService.js"></script>

<!-- Global -->
<script src="global/stMask.js"></script>
<script src="global/stModal.js"></script>
<script src="global/stMask.js"></script>
<script src="global/stFilter.js"></script>
<script src="global/stControl.js"></script>
<script src="global/stTable.js"></script>
<script src="global/stUtil.js"></script>
<script src="global/stApp.js"></script>
<script src="global/st-app/appPedido.js"></script>
<script src="global/st-app/appMov.js"></script>
<script src="global/st-app/appEstoque.js"></script>
<script src="global/st-app/appAutoComplete.js"></script>
<script src="global/st-app/appPdv.js"></script>
<script src="global/st-app/appRelatorio.js"></script>
<script src="global/st-app/appLogin.js"></script>
<script src="global/st-app/stChart.js"></script>

<!-- Controllers -->
<script src="js/controllers/pdv-ficha/pdvFichaController.js"></script>
<script src="js/controllers/pdv/listaPdvController.js"></script>
<script src="js/controllers/pdv-simples/pdvSimplesController.js"></script>
<script src="js/controllers/checklist/checkListController.js"></script>
<script src="js/controllers/registroponto/registroPontoController.js"></script>
<script src="js/controllers/registroponto/listaPontoController.js"></script>
<script src="js/controllers/logisticareversa/listaLR.js"></script>
<script src="js/controllers/testeController.js"></script>
<script src="js/controllers/produto/listaProdutoController.js"></script>
<script src="js/controllers/mesa/listaMesaController.js"></script>
<script src="js/controllers/produto/addProdutoController.js"></script>
<script src="js/controllers/produto/cadStepController.js"></script>
<script src="js/controllers/produto/atualizaEstoqueController.js"></script>
<script src="js/controllers/caixa/caixaController.js"></script>
<script src="js/controllers/modalController.js"></script>
<script src="js/controllers/financeiro/financeiroController.js"></script>
<script src="js/controllers/financeiro/balancoController.js"></script>
<script src="js/controllers/financeiro/movimentacaoController.js"></script>
<script src="js/controllers/opcaoController.js"></script>
<script src="js/controllers/relatorio/relatorioVendasController.js"></script>
<script
	src="js/controllers/relatorio/relatorioMovimentacoesController.js"></script>
<script src="js/controllers/pessoa/pessoaController.js"></script>
<script src="js/controllers/navegacaoController.js"></script>
<script src="js/controllers/login/loginController.js"></script>
<script src="js/controllers/cadastros/cadastrosController.js"></script>
<script src="js/controllers/inicioController.js"></script>


<!-- endbuild -->

<script src="global/spinner/angular-spinner.js"></script>






<script>
  $("#spin_ini").hide();   
</script>

<!-- Hotjar Tracking Code for http://www.siertech.com.br -->
<script>
    (function(h,o,t,j,a,r){
    	
    	console.log("h:");
    	console.log(h);
    	console.log("o:");
    	console.log(o);
    	console.log("t:");
    	console.log(t);
    	console.log("j:");
    	console.log(j);
    	console.log("a:");
    	console.log(a);
    	console.log("r:");
    	console.log(r);
    	
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:270407,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>
<body>
	<div id="anchor_cima"></div>
	<!-- Spin de carregamento -->
	<span style="position: fixed; top: 50%; left: 50%; z-index: 9999"
		us-spinner="{radius:27, width:10, length: 19,shadow: true,zIndex:10001}"
		spinner-key="spinner-principal"></span>

	<div id="wrapper">
		<!-- Navigation -->
		<nav ng-show="atualPage!='Login'" ng-controller="navegacaoController"
			class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0; background-color: #EDEDED">
			<div id="nav-header" class="navbar-header"
				style="padding-top: 0px; min-width: 200px;">
				<button ng-click="changeCollapse()" type="button"
					class="btn btn-default navbar-toggle dropdown-toggle" data-toggle="dropdown"
					>
					<i ng-show="menuCollapsed==true" class="fa fa-th" style="color:white;"></i>
				</button>
				
				    <!-- Menu mobile -->
					<div class="dropdown-menu menu-mobile  pull-right" style="padding:5px">
		               
		           
		               <div class="col-lg-4">
		                   <a
							class="btn btn-default"
							href="#/{{config.confs.tipoPdv||'pdvsimples'}}/add" nav-click><i
								class="fa fa-cart-plus fa-2x info" aria-hidden="true"></i>
							<br>
							Nova venda </a>
						</div>

						<div class="col-lg-4">
		                  <a class="btn btn-default" href="#/inicio" nav-click><i class="fa fa-tachometer fa-2x"
								aria-hidden="true"></i><br> Dashboard</a>
						</div>
						
						<div class="col-lg-4">
		                  <a class="btn btn-default" href="#/inicio" nav-click><i class="fa fa-tachometer fa-2x"
								aria-hidden="true"></i><br> Dashboard</a>
						</div>
						
					  
								
								
		                
		            </div>
				<!-- 
                <a class="navbar-brand" href="#/inicio"><img width="89" src="logo-albar.png"/></a>
                 -->
				<div class="only-mobile">
					<a ng-if="atualPage!='Inicio'" class="navbar-brand"
						ng-click="goToPageAnt(pageAnt)" style="color: #FBF7F7;"><i
						class="fa fa-arrow-left" aria-hidden="true"></i></a> <a
						ng-if="atualPage!='Inicio'" class="navbar-brand"
						style="color: #FBF7F7;">{{atualPage}}
						<i ng-show="loadingSpinner==true" class="fa fa-spinner faa-spin animated" aria-hidden="true"></i>
						</a>
				</div>
				<a class="navbar-brand since-tablet" style="color: white;"><img
					height="36px" style="padding-bottom: 5px;" src="logo.png" /></a>
			</div>
			<!-- Menu Direito Topop -->
			<div class="since-tablet">
				<div class="breadcumb">
					<a href="#/inicio" class="default"><i class="fa fa-home"></i></a> <i
						class="text-small text-muted">Você está em </i> <i
						class="text-small fa fa-arrow-right"></i> <strong>{{atualPage}}</strong>
				<i ng-show="loadingSpinner==true" class="fa fa-spinner faa-spin animated" aria-hidden="true"></i>
				
				</div>
				<st-top-menu class="only-desktop"></st-top-menu>
				<!--/ Menu Direito Topop -->
			</div>


			

			<!-- /.navbar-top-links -->
			<div class="navbar-default sidebar" role="navigation">
				<div id="elementoMenu" class="sidebar-nav navbar-collapse">
					<ul class="nav responsive-menu" id="side-menu"
						style="padding-top: 9px;">



						<!-- PDV Ficha -->
						<li id="menuNovaVenda"
							style="margin-right: 12px; margin-bottom: 12px;"><a
							class="btn-destaque-menu"
							href="#/{{config.confs.tipoPdv||'pdvsimples'}}/add" nav-click><i
								class="fa fa-cart-plus fa-m" aria-hidden="true"></i> <strong
								style="font-size: 17px; font-weight: 100;">Nova Venda</strong> </a>
						</li>

						<li id="menuDashboard"
							ng-show="usuarioSistema.permissoes.indexOf('vendas')!=-1">
							<a href="#/inicio" nav-click><i class="fa fa-tachometer fa-m"
								aria-hidden="true"></i> Dashboard</a>
						</li>

						<li ng-show="usuarioSistema.permissoes.indexOf('vendas')!=-1">
							<a href="#/pdv" nav-click><i class="fa fa-list-alt fa-m"></i>
								Vendas</a>
						</li>


						<li ng-show="usuarioSistema.permissoes.indexOf('clientes')!=-1">
							<a href="#/cliente" nav-click><i class="fa fa-user fa-m"></i>
								Clientes</a>
						</li>

						<li
							ng-show="config.confs.modulos.indexOf('Estoque')!=-1 && usuarioSistema.permissoes.indexOf('estoque')!=-1 ">
							<a href="#/produto" nav-click><i class="fa fa-list fa-m"></i>
								Produtos/Serviços</a>
						</li>


						<li
							ng-show="config.confs.modulos.indexOf('Controle de Ponto')!=-1">
							<a href="#" nav-click><i class="fa fa-clock-o fa-m"></i>
								Controle de Ponto<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a data-dismiss="collapse" href="#/registrarponto"
									nav-click>Registrar Ponto</a></li>
								<li
									ng-show="usuarioSistema.permissoes.indexOf('registros de ponto')!=-1">
									<a data-dismiss="collapse" href="#/registroponto" nav-click>Gerenciar
										Pontos</a>
								</li>
							</ul>

						</li>

						<li
							ng-show="config.confs.modulos.indexOf('Logística Reversa')!=-1 && usuarioSistema.permissoes.indexOf('logística reversa')!=-1">
							<a href="#/logisticareversa" nav-click><i
								class="fa fa-archive fa-m" aria-hidden="true"></i> Caixas
								plásticas</a>
						</li>

						<li ng-show="usuarioSistema.permissoes.indexOf('balanço')!=-1">
							<a href="#/financeiro/balanco" nav-click><i
								class="fa fa-balance-scale fa-m"></i> Balanço</a>
						</li>



						<li ng-show="config.confs.modulos.indexOf('Pessoas')!=-1"><a
							href="#"><i class="fa fa-bars fa-m"></i></i> Pessoas<span
								class="fa arrow"></span></a>
							<ul class="nav nav-second-level">

								<li
									ng-show="usuarioSistema.permissoes.indexOf('funcionários')!=-1">
									<a data-dismiss="collapse" href="#/funcionario" nav-click>Funcionários</a>
								</li>

								<li ng-show="usuarioSistema.permissoes.indexOf('clientes')!=-1">
									<a href="#/cliente" nav-click>Clientes</a>
								</li>

								<li
									ng-show="usuarioSistema.permissoes.indexOf('fornecedores')!=-1">
									<a href="#/fornecedor" nav-click>Fornecedores</a>
								</li>
							</ul> <!-- /.nav-second-level --></li>

						<li
							ng-show="usuarioSistema.permissoes.indexOf('movimentações')!=-1">
							<a href="#/financeiro/movimentacoes" nav-click><i
								class="fa fa-line-chart fa-m"></i> Lançamentos<span
								class="fa arrow"></span></a>
						</li>

						<li ng-show="usuarioSistema.permissoes.indexOf('cadastros')!=-1">
							<a href="#/cadastros" nav-click><i class="fa fa-edit fa-m"></i>
								<br>Cadastros</a>
						</li>


						<li ng-show="config.confs.modulos.indexOf('Ferramentas')!=-1">
							<a href="#/financeiro/relatorio-vendas"><i
								class="fa fa-wrench fa-m"></i> Ferramentas<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="#/financeiro/nota-promissoria" nav-click>Nota
										Promissória</a></li>
							</ul> <!-- /.nav-second-level -->
						</li>


						<li>
						  <st-sync></st-sync>
						</li>



					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>


		<!-- Conteudo -->
		<div id="{{atualPage!='Login'?'page-wrapper':''}}">
			<div style="margin-top: 52px;" ng-view></div>
		</div>

	</div>

	<script>
 

 
  $("#spin_ini").hide();  
  
  $(document).keydown(function(e) {
	   
	    var elid = $(document.activeElement).is('input');
	    if (e.keyCode === 8 && !elid) {
	        return false;
	    }
	});
  
  
  
  
  
</script>

</body>
</html>