<meta charset="UTF-8" />
<vertical-space></vertical-space>

	<!-- Filtroe e paginação -->
	<div class="col-lg-6">
	     <st-filter-map id="filtros-table" busca-especial="buscaEspecial" filtros="filtros"></st-filter-map>
	</div>
	<vertical-space class="only-desktop"></vertical-space>
	
	<div class="col-lg-4 only-desktop" >
	    <button style="margin-top:15px;" ng-click="cadItem()" class="btn btn-default"><i class="fa fa-plus"></i> <strong>{{cadLabel}}</strong></button>
	</div>
	 
	<vertical-space></vertical-space>
   
	<button-add ng-click="cadItem()"></button-add>
	
	<vertical-space></vertical-space>
	<div>
		<div ng-repeat="ob in objetos" class="col-lg-4">
		   	 <card-list  icon="{{icon}}" index="{{$index}}" class="pessoa-item" ob="ob" pivo="'nome'"  edit-function="openDetalhe" delete-function="deletarItem">
		   	    <div class="col-lg-12 col-xs-12">
		   	         <div class="pull-left">
		   	               <label ng-if="detalheLink==true"> <a  class="open-detalhe" style="color:var(--secondary-color)" uib-tooltip="Visualizar movimentações (vendas, despesas, etc)"
								ng-if="detalheLink==true" ng-click="openDetalhe(ob,1)"
								ng-disabled="ob.disable || l.disable"><i
									class="fa fa-line-chart fa-2x"></i></a>
						   </label>
		   	         </div>
		   	         <div class="pull-right">
			   	         <label class="text-muted">cadastrado em: <strong><i class="fa fa-calendar"></i> {{ob.dataCadastro|date:'dd/MM/yyyy'}}</strong></label>
			   	     </div>
		   	     </div>
		   	 </card-list>
	     </div>
     </div>
	
	<vertical-space></vertical-space>
	<!-- Classe table-responsive -->
	<st-pagination></st-pagination>

