<meta charset="UTF-8" />

<div ng-controller="stControl">

<div class="col-lg-12" style="padding:0px;">
    <filter-leads qs="vm.qs" submit="aplicarFiltros"></filter-leads>
</div>

<vertical-space></vertical-space>
<vertical-space></vertical-space>
<div class="col-lg-4 only-desktop" >
    <button ng-click="openDetalhe({});" class="btn btn-default"><i class="fa fa-plus"></i> <strong>Cadastrar Lead</strong></button>
</div>
<vertical-space></vertical-space>
<vertical-space></vertical-space>
<div class="col-lg-12" ng-show="aplicouFiltros" >
<table class="modern-table st-table table-bordered table-striped table-condensed cf col-lg-12" >
       <thead class="cf">
		<tr>
			<th></th>
			<th>Nome</th>
			<th>Apresentação</th>
			<th>Ultimo login</th>
			<th>Etapa</th>
			<th>Telefone</th>
			<th>Email</th>
			<th>Campanha</th>
			
			
		</tr>
		</thead>
		<tbody>
		
		<tr class="alert-info" ng-repeat="lead in objetos">
		
		  
		    <td style="width:90px;">
		        <a ng-click="openDetalhe(lead)" class="btn btn-xs btn-default"> detalhes <i class="fa fa-external-link"></i></a>
		    </td>
		    <td data-title="Data" class="text-center">
		       <strong  uib-tooltip
		       uib-tooltip-html="'Produtos cadastrados: {{lead.metrics.cads_produto||0}} <br>
		       Vendas realizadas: {{lead.metrics.cads_venda||0}}<br>
		       Clientes cadastrados: {{lead.metrics.cads_cliente||0}}<br>
		       Visualizações de relatório: {{lead.metrics.visualizacoes_relatorio||0}}
		       Despesas lançadas: {{lead.metrics.cads_despesa||0}}
		       '"
		       > 
		       {{lead.nome|uppercase}}</strong>
		    </td>
		    <td>
		       <span ng-show="lead.dataApresentacao>0"><strong>{{lead.dataApresentacao|date:'dd/MM/yyyy'}}</strong> <i uib-tooltip="A apresentação já foi realizada :-)" ng-show="lead.apresentacaoRealizada==1" class="fa fa-check-circle" style="color: var(--secondary-color)"></i> </span>
		    </td>
		     <td>
		       <span>{{lead.dataUltimoLogin|date:'dd/MM/yyyy'}}</span>
		    </td>
		    <td>
		       <span uib-tooltip="Desde: {{lead.dataUltimaEtapa|date:'dd/MM/yyyy'}}" class="destaque-item">{{lead.etapaFunil}}</span>
		    </td>
		    <td>
		       <strong>{{lead.telefone}}</strong>
		    </td>
		    <td>
		       <strong>{{lead.email}}</strong>
		    </td>
		    <td>
		       <span class="destaque-item">{{lead.codOrigem|uppercase}}</span>
		    </td>
		    </tr>
    </tbody>
 </table>
 </div>
 <vertical-space></vertical-space>
 <vertical-space></vertical-space>
<st-pagination ng-show="aplicouFiltros"  querys="vm.qs" ></st-pagination>
 </div>
 


