<meta charset="UTF-8" />
<modal-content icone-titulo="'check'" titulo="'Venda salva com sucesso!'" ok-action-label="'OK'" modal-instance="this" ok-action="toVendas">
	
	  <div class="form-group col-lg-4 col-lg-12">
	    <label class="text-muted"><i class="fa fa-user"></i> Cliente: <strong>{{pdv.movimentacao.pessoa.nome}}</strong></label>
	  </div>
	    
	  <vertical-space></vertical-space>
	  
	  <div class="col-lg-12">
	      <label><label class="text-muted"><i class="fa fa-list"></i> Pedidos: </label> 
		  <itens-pedido pedidos="pdv.movimentacao.pedidos"></itens-pedido> 
		  <p class="text-small">Total: <strong style=" color:var(--secondary-color);font-size:22px">R$ {{getTotalPedidos(pdv.movimentacao.pedidos)|number:2}}</strong></p>
	  </div>
	  
	  <div class="col-lg-12">
	  <hr></hr>
	  </div>
	  
	 
	  <!--  
	  <input ng-show="false" st-input tipo="data" ng-model="pdv.data" />
	  -->
	  
	  <div class="col-lg-12">
	     <p ng-if="carregaSave==true" class="text-muted"><i  class="fa fa-spinner faa-spin animated" aria-hidden="true"></i> Salvando alterações.</p>
	  </div>
	  
	  <div ng-if="config.confs.showEmpEmbalagensPdv=='true' && pdv.lr.quantidade>0" class="form-group col-lg-6">
		  <label class="text-muted"><i class="fa fa-archive"></i> 
		  Quantidade de embalagens emprestadas: <strong>{{pdv.lr.quantidade}}</strong></label>
	  </div>
	  
	  <div class="row"></div>
	  <div class="col-lg-12">
	  <hr></hr>
	  </div>
	  
	   <div class="form-group col-lg-3">
	     	<button ng-click="novaVenda(this)" class="btn btn-block btn-info"><i class="fa fa-plus"></i> Efetuar Nova Venda</button>
	  </div>
	  
	  <!-- 
	   <div class="form-group col-lg-3">
	  	    <button ng-click="toNFe(pdv,this)" class="btn btn-default btn-block"><i class="fa fa-file"></i> NFe</button>
	  </div>
	   -->
	  
	  <div class="form-group col-lg-3">
	  	    <button ng-click="toVendas(this)" class="btn btn-secondary btn-block"><i class="fa fa-external-link"></i> Visualizar vendas</button>
	  </div>
</modal-content>



  
