<meta charset="UTF-8" />
<modal-content icone-titulo="'list'" loading-ok-action="vm.carregandoFinalizarVenda" cancel-action="vm.cancelAction" ok-action="vm.lancarVenda"  ok-action-label="vm.infoModal.okActionLabel" ok-action-icon="vm.infoModal.okActionIcon"   delete-action="vm.deletarVenda" item="vm.pdv" titulo="vm.infoModal.titulo" modal-instance="this">
<div ng-if="currentFilial.id==0 && !vm.pdv.id" >
		<alert-filial class="col-lg-12" label="'Não é possível lançar vendas para '"></alert-filial>
		<filial-list in-modal="true"> </filial-list>
</div>
<div class="ng-enter col-lg-12 panel" ng-if="currentFilial.id!=0 || vm.pdv.id">
	   
	   <vertical-space></vertical-space>
	   <div class="panel">
		   <div class="panel-body" style="padding-bottom:0px;">
			   <div class="col-lg-5 col-xs-5">
			         <p class="text-muted text-small" style="margin-left: 10px;">R$  <strong style="color:var(--secondary-color);font-size:19px">{{vm.totalPdv||0|number:2}}</strong></p>
			   </div>
			   
			   <div class="col-lg-3 col-xs-3">
			        <button-baixa-mov template-version="2" label="Pago" class="printHide" mov="vm.pdv.movimentacao"></button-baixa-mov>
			        <a ng-if="vm.pdv.movimentacao.valor>0 && config.confs.showParcelementoInPdv=='true'" data-toggle="modal" data-target="#modalParcelas">parcelas</a>
			    </div>
			  
			   <div class="col-lg-4 col-xs-4">
			    
			      <checkbox class="btn-primary"
					    ng-model="vm.pdv.carregado"
					    ng-true-value="1"
					    ng-false-value="0"
					    name="custom-name" 
					>
					</checkbox>
					<label class="text-muted"><strong>Entregue</strong></label>
			   </div>
			</div>
	   </div>
	  
	<div class="panel-body">
	   
	     <div ng-if="vm.step==0">
	              <div class="form-group">
				   <label class="text-muted"><i class="fa fa-user"></i> Cliente</label>
				   <auto-complete-object initial-busca="vm.defaultClienteLabel  || 'Outros'" auto-show-busca="!vm.pdv.movimentacao.pessoa" id-input="'cliente-venda'"  use-cache="true" extra-class="'input-lg'" inline="true"  tipo="'select'" label-cad="'Cadastrar novo Cliente'" place-holder="'Primeiro, digite o nome do cliente'"  object-op="'cliente'" querys="" label="'nome'" ng-model="vm.pdv.movimentacao.pessoa" />
	              </div>
		          <vertical-space></vertical-space>
		          <div class="form-group" ng-show="config.confs.showDataEmissaoPdv=='true'">
						<label class="text-muted"><i class="fa fa-calendar"></i> Data Emissão</label>
						 
					 <label class="text-muted">
					 <input type="checkbox"
					    ng-model="config.confs.saveLastDataEmissaoPdv"
					    ng-true-value="'true'"
					    ng-false-value="'false'"
					    
					    />
					    Salvar data para próxima emissão
					   </label>
					
					
						<input ng-change="vm.changeDataPdv(vm.pdv.data)"    st-input tipo="data" ng-model="vm.pdv.data" class="form-control"/>
				  </div>
				
	     </div>
	   
		 <div  ng-if="vm.step==1">
		        <app-simple-pedido pedidos="vm.pdv.movimentacao.pedidos"></app-simple-pedido> 
		  </div>
	
        <div  ng-if="vm.step==2">
              <vertical-space></vertical-space>
			  
			  <div class="panel" ng-if="config.confs.showEmpEmbalagensPdv=='true'">	
				   <div class="panel-body">
				            <div class="form-group col-lg-12">
					           <label class="text-muted text-small"><i class="fa fa-archive" style="color:#5bc068; font-size:22px"></i> Empréstimo de embalagens </label>
							   <input type="tel" ng-model="vm.pdv.lr.quantidade" class="form-control ng-enter" placeholder="Quantidade de embalagens emprestadas nesta venda"/>
							   <label class="text-muted text-small"  ng-if="vm.quantidadeEmbalagemReceber>0">(<strong>{{vm.pdv.movimentacao.pessoa.nome|uppercase}}</strong> já está devendo  <strong class="danger">{{vm.quantidadeEmbalagemReceber}}</strong> embalagens de empréstimos anteriores)</label>
				           </div>
				   </div>
		      </div>
		</div>
	
	<div class="row"></div>
	</div>
</div>
<!-- Modal parcelamento -->
<st-modal titulo="Parcelamento" idmodal="modalParcelas"  size="lg">
	<parcela-mov is-modal="true" id="parcelas-venda" original-mov="vm.pdv.movimentacao"  movs="vm.pdv.parcelas"></parcela-mov>
</st-modal>
</modal-content>	
