<meta charset="UTF-8" />
<vertical-space></vertical-space>
<div class="video-apresentacao">
    <div class="col-lg-2"></div> 
    <div class="panel panel-body col-lg-8">
			<form ng-submit="logar(login)">
			    
			    <div>
				    <h4 class="text-muted text-center">Por favor, escolha uma senha para continuar <i class="fa fa-smile-o"></i></h4>
				    <br>
				    
				    <div class="form-group">
				      <label>Senha</label> 
				      <input type="password" placeholder="Defina uma senha" ng-model="usuarioSistema.senha"  class="form-control" />
				    </div>
			
				    
					<div class="form-group">
						<button type="button" ng-click="alterarSenha(usuarioSistema)" class="btn btn-secondary btn-lg btn-block">		
						<i ng-show="carregando==true" class="fa fa-refresh faa-spin animated" aria-hidden="true"></i>
						 Pronto <i class="fa fa-check"></i></button>
					</div>
				</div>
			</form>
	</div>
</div>
		

