<meta charset="UTF-8" />
<img src="fundo-login.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1500px; height: 1100px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -325.167px;">
<div class="col-lg-4"></div>
<br></br>
<div class="col-lg-3"></div>
<form ng-submit="logar(login)" class="form col-lg-4 center-block" style="margin-top: -75px;">

    <div style="background-color:rgba(234, 230, 230, 0.79);padding:12px;">
         <h3 class="text-center">
	      <img   ng-src="logo-login.png" ></img>
	    </h3> 
	    
	    <div class="col-lg-12" style="padding:5px">
		    <div class="col-lg-6 col-xs-6 text-center"> 
		      <img style="width:120px" src="aws.png"/>
		    </div>  
		    <div class="col-lg-6 col-xs-6 text-center"> 
		      <img style="width:120px" src="site-seguro.png"/>
		    </div>   
	    </div>
    
	    <div ng-show="showEmpresa==true" class="form-group">
	      
	       <input placeholder="Empresa"  ng-model="login.empresa" class="form-control"/>
	    </div>
	    <div class="form-group">
	       <input placeholder="Usuário"   ng-model="login.usuario" class="form-control"/>
	    </div>
	    <div class="form-group">
	       <input placeholder="Senha"  type="password" ng-model="login.senha" class="form-control"/>
	    </div>
	   
		<div class="form-group">
			<button id="btn-login" type="button" ng-click="logar(login,lembrarSenha)" class="btn btn-secondary btn-lg btn-block">		
			<i ng-show="carregando==true" class="fa fa-refresh faa-spin animated" aria-hidden="true"></i>
			 Entrar no sistema</button>
		</div>
	</div>
</form>
<div class="col-lg-4"></div>
<div class="col-lg-4"></div>
