<meta charset="UTF-8" />
<div class="col-lg-3">
	<div class="panel pivo-panel">
		<div class="panel-heading">
			    <div class="dropdown">
					  <button class="btn btn-block btn-default dropdown-toggle text-left" type="button" data-toggle="dropdown">Produto teste
					  <i class="caret"></i></button>
					
					  <ul class="dropdown-menu pull-left">
					       <li class="list-group-item" ng-click="goToPdv(ob)"  >
					          <i class="fa fa-edit"></i> Editar
					       </li>
					       <li class="list-group-item"  confirm="Tem certeza que deseja deletar esta venda?" confirm-title="Deletar Venda" ng-click="deletarVenda(ob)" >
					         <i class="fa fa-trash"></i> Deletar
					       </li>
					        <li class="list-group-item"  button-info-ob  objeto="{{ob}}" >
					         <i class="fa fa-info-circle"></i> Informações
					       </li>
					  </ul>
					</div>
				
					
			<div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body">
			<div class="pull-left">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	
			<div class="pull-right">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	
			<div class="pull-right"></div>
	
		</div>
	</div>
</div>



