<meta charset="UTF-8" />
<div class="col-lg-3">
	<div class="panel pivo-panel">
		<div class="panel-heading">
	    <div class="text-left">
		<div class="dropdown">
				<a class="dropdown-toggle text-left"  data-toggle="dropdown">
				
				         <strong><i class="fa fa-edit" aria-hidden="true"></i> PRODUTO TESTE</strong></a>
					     <ul class="dropdown-menu list-group pull-left" style="padding:5px">
							 <li ng-click="cadastrarMov(1)"  class="list-group-item"  >
							        <i class="fa fa-edit" aria-hidden="true"></i>
								    Editar
							 </li>
							 
							 <li ng-click="cadastrarMov(2)"  class="list-group-item"  >
							        <i class="fa fa-trash" aria-hidden="true"></i>
								    Deletar
							 </li>
							 
							 <li ng-click="cadastrarMov(2)"  class="list-group-item"  >
							        <i class="fa fa-info-circle" aria-hidden="true"></i>
								    Informações
							 </li>
						 </ul>
		  </div>
		</div> 
					
			<div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body">
			<div class="pull-left">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	
			<div class="pull-right">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	      
		</div>
	</div>
</div>


<div class="col-lg-3">
	<div class="panel pivo-panel">
		<div class="panel-heading">
	    <div class="text-left">
		<div class="dropdown">
				<a class="dropdown-toggle text-left"  data-toggle="dropdown">
				
				         <strong><i class="fa fa-edit" aria-hidden="true"></i> PRODUTO TESTE</strong></a>
					     <ul class="dropdown-menu list-group pull-left" style="padding:5px">
							 <li ng-click="cadastrarMov(1)"  class="list-group-item"  >
							        <i class="fa fa-edit" aria-hidden="true"></i>
								    Editar
							 </li>
							 
							 <li ng-click="cadastrarMov(2)"  class="list-group-item"  >
							        <i class="fa fa-trash" aria-hidden="true"></i>
								    Deletar
							 </li>
							 
							 <li ng-click="cadastrarMov(2)"  class="list-group-item"  >
							        <i class="fa fa-info-circle" aria-hidden="true"></i>
								    Informações
							 </li>
						 </ul>
		  </div>
		</div> 
					
			<div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body">
			<div class="pull-left">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	
			<div class="pull-right">
				<p class="text-muted">quantidade: 100</p>
				<p class="text-muted">preço: R$ 99,00</p>
			</div>
	      
		</div>
	</div>
</div>





