<meta charset="UTF-8" />
<modal-content icone-titulo="'list'" loading-ok-action="carregandoFinalizar" cancel-action="cancelAction" ok-action="salvar"  ok-action-label="infoModal.okActionLabel" ok-action-icon="infoModal.okActionIcon"   item="em" titulo="infoModal.titulo" modal-instance="this">

<div ng-if="currentFilial.id==0 && !em.id" >
	<alert-filial class="col-lg-12" ng-if="currentFilial.id==0" label="'Não é possível atualizar estoque para '"></alert-filial>
	<filial-list in-modal="true"> </filial-list>
</div>

<div ng-if="currentFilial.id!=0">
    <div class="col-lg-12">
         <div class="panel">
                <div class="panel-body">
			           <p><label class="text-muted">Total: R$  <strong style="color:var(--secondary-color);font-size:22px">{{totalEM||0|number:2}}</strong></label></p>
				       <div ng-show="step==1">
				               <p class="text-muted"><i class="fa fa-info-circle"></i> Escolha os produtos para atualizar o estoque</p>
				          	   <app-simple-pedido modo-at-estoque="1" label-quantidade="'Quantidade a acrescentar'" label-valor-unitario="'Valor unitário de compra'" pedidos="em.movimentacao.pedidos"></app-simple-pedido> 
				       </div>
				       <div ng-show="step==2">
				       			<div class="col-lg-12">
				       			     <p class="text-muted">Produtos:</p>
				       			   	<itens-pedido pedidos="em.movimentacao.pedidos"></itens-pedido> 
				       			</div>
								<div class="form-group col-lg-2">
										<label class="text-muted text-small" style="margin-bottom:12px">Lançar despesa</label>
												<br>
												<label class="toggle"> 
												<input ng-change="alterarLancarDespesa(lancarDespesa)"  uib-tooltip="Carregou?"  ng-model="lancarDespesa"  type="checkbox" />
												<span class="handle" style="top:-65%"></span>
										</label>
								</div>
								<div ng-show="lancarDespesa==true">
								   <div class="form-group col-lg-5">
									   <label class="text-muted"><i class="fa fa-user"></i> Fornecedor (Opcional)</label>
									   <auto-complete-object  extra-class="'input-lg'" inline="true"  tipo="'select'" label-cad="'Cadastrar novo Fornecedor'" place-holder="'Digite o nome do Fornecedor (Opcional)'"  object-op="'fornecedor'" querys="" label="'nome'" ng-model="em.movimentacao.pessoa" />
									</div>
									<div class="form-group col-lg-2 ng-enter" >
									     <label>Valor da despesa</label>
										<input type="tel" ui-number-mask="2"  ng-model="em.movimentacao.valor" class="form-control" />
									</div>
									<div class="col-lg-3">
									    <label>Pago</label>
									    <br>
									     <button-baixa-mov class="printHide" mov="em.movimentacao"></button-baixa-mov>
									</div>
								</div>
					    </div>
				</div>
		</div>
    </div>
    
</div>
</modal-content>