<meta charset="UTF-8" />
<vertical-space></vertical-space>
<div ng-controller="stControl">
<div class="col-lg-6">
    <st-filter-map
		    filter-map-instace="filterMapInstance"
			busca-especial="buscaEspecial"
			filtros="[
 	        
 	        {attr:'nome',placeholder:'Buscar pelo nome do produto'},
			
			]
			">
   </st-filter-map>
</div>

<vertical-space class="only-desktop"></vertical-space>
<vertical-space class="only-desktop"></vertical-space>
<div class="col-lg-4 only-desktop" >
    <button ng-click="openDetalhe()" class="btn btn-secondary"><i class="fa fa-plus"></i> Cadastrar Produto</button>
</div>
  
 <button-add ng-click="openDetalhe()"></button-add>
  
<vertical-space></vertical-space>
<vertical-space></vertical-space>
 <div ng-repeat="ob in objetos" class="col-lg-4">
	   	 <card-list class="produto-item" ob="ob" pivo="'nome'"  edit-function="openDetalhe" delete-function="deletarProduto">
	   	    <div class="col-lg-12 col-xs-12">
	   	         <div class="pull-left">
	   	             <span class="destaque-item">R$ {{ob.preco|number:2}}</span> 
	   	         </div>
	   	         <div class="pull-right" style="font-size:17px;">
		   	         <label class="text-muted">em estoque:  <strong>{{ob.quantidade}}</strong></label><button-estoque id="button-estoque" produto="ob"></button-estoque> 
		   	     </div>
	   	     </div>
	   	 </card-list>
  </div>
 	
<div ng-if="objetos.length==0" class="col-lg-12">
 <st-no-itens label="'Nenhum produto encontrado.'"></st-no-itens>
</div>

<vertical-space></vertical-space>

<st-pagination  filter-map-instance="filterMapInstance"></st-pagination>
 