<meta charset="UTF-8" />
<div>
  <nav id="nav_principal"  ng-cloak ng-show="showMenu"
			class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0; background-color: #EDEDED">
			
       <div id="nav-header" class="navbar-header"  style="padding-top: 0px; min-width: 200px;">
				
				<button ng-click="changeCollapse()" type="button"
					class="navbar-toggle btn btn-default  dropdown-toggle" data-toggle="dropdown" style="margin: 0px!important; font-size: 25px;">
					<i class="fa fa-th fa-1.5x" style="color:white;"></i>
				</button>
				
				    <!-- Menu mobile -->
				<div class="dropdown-menu menu-mobile  pull-right ">
				
		               <div class="col-xs-4"  ng-repeat="item in itens" style="padding-bottom:19px;">
		                 <a class="btn btn-mobile-menu ripple" style="width:100%;" ng-click="clickItemMenu(item.path)"nav-click>
		                 <i class="fa fa-{{item.icon}} fa-2x info" aria-hidden="true"></i>
						 <br>{{item.label}}</a>
					   </div>
					   
					   <div class="row col-lg-12">
		                </div>
		               <div class="col-lg-12">
		                  <hr></hr>
		               </div>
					   
		                 <div class="col-xs-4" >
			                 <a class="btn btn-mobile-menu ripple" style="width:100%;color: var(--secondary-color);"  ng-click="novaVenda()">
				                  <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
								 <br>Nova Venda
							 </a>
		                </div>
		                
		                <div class="col-xs-4" >
			                 <a class="btn btn-mobile-menu ripple" style="width:100%;color: var(--secondary-color);"  ng-click="atualizarEstoque()">
				                  <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
								 <br>Entrada de merc.
							 </a>
		                </div>
		                
					   
						
						<div class="col-xs-12"><hr></hr></div>
						
						 <div class="col-xs-4" >
			                 <a class="btn btn-mobile-menu" style="width:100%;" ng-click="logOut()" nav-click>
			                 <i class="fa fa-sign-out fa-2x info" aria-hidden="true"></i>
									<br>Sair do sistema</a>
						</div>
					</div>
				<!-- 
                <a class="navbar-brand" href="#/inicio"><img width="89" src="logo-albar.png"/></a>
                 -->
				<div class="only-mobile">
					<a ng-if="atualPage!='Inicio'" class="navbar-brand"
						ng-click="goToPageAnt(pageAnt)" style="color: #FBF7F7;"><i
						class="fa fa-arrow-left" aria-hidden="true"></i></a> <a
						ng-if="atualPage!='Inicio'" class="navbar-brand"
						style="color: #FBF7F7;">
						<span ng-show="!loadingSpinner || loadingSpinner==false"  style="margin-left:-17px;font-size:0.9em;">{{atualPage}}</span>
						<i ng-show="loadingSpinner==true" class="fa fa-spinner faa-spin animated" aria-hidden="true"></i>
					 </a>
				</div>
				 
				<a class="navbar-brand only-desktop text-center" style="color: white;border-right-style: dotted;border-right-width: 2px;border-right-color: #e0e4e5;width:215px"><img
					  style="padding-bottom: 5px;" src="icone-menu-sistema.png"  /></a>
					
			</div>
			    
			
			<!-- Menu Direito Topop -->
			<div class="only-desktop">
				<div class="breadcumb item-menu-top">
				       <div class="dropdown">
								<button ng-disabled="routeHistory.length<1 || !routeHistory" class="btn btn-primary dropdown-toggle btn-escolher-filial" style="background-color: #3276b1;" type="button" data-toggle="dropdown">
								   <i class="fa fa-home" aria-hidden="true"></i>
								   <i class="text-small">você está em: </i>
								   <strong>{{atualPage||'Início' |uppercase}}</strong>
								   
								  <i ng-show="loadingSpinner==true" class="fa fa-spinner faa-spin animated" aria-hidden="true"></i>
								   
								  <span class="caret"></span></button>
									<ul class="dropdown-menu" ng-if="routeHistory.length>1">
										<li class="list-group-item text-muted"  ng-if="r.label!=atualPage &&  r.path!='/login'"ng-repeat="r in routeHistory | reverse">
										    <a  style="background-color:transparent" ng-click="clickItemMenu(r)"><i class="fa fa-clock-o"></i>  {{r.label}}</a>
										</li>
									</ul>
						</div>
				  </div>
				  <st-top-menu class="only-desktop"></st-top-menu>
			  </div>


<!-- Menu desktop -->
<div class="navbar-default sidebar only-desktop" role="navigation">
	<div id="elementoMenu" class="sidebar-nav navbar-collapse">
	
	     <button  class="btn-destaque-menu ripple" id="menu-novavenda"
					ng-click="novaVenda()" 
					btn-detalhe-pdv nav-click style="color:white"><i class="fa fa-cart-plus fa-m"
						aria-hidden="true"></i> <strong
						style="font-size: 17px; font-weight: 700;">Nova Venda</strong> </button>
		<ul class="nav responsive-menu menu-principal" id="side-menu"
			style="padding-top: 9px;">
			<!-- PDV Ficha -->
				
	
				<li id="menu-{{item.path}}" ng-repeat="item in itens" ng-click="clickItemMenu(item.path)"
					ng-class="{'active-menu':currentPath==item.path}"
					ng-show="usuarioSistema.permissoes.indexOf('vendas')!=-1" class="ripple"><a 
					 nav-click><i class="fa fa-{{item.icon}} fa-m"
						aria-hidden="true"></i> {{item.label}}</a></li>
					
			</ul>
	</div>
</div>
</nav>
</div>


