

.test-user-button{
	left:0;
	bottom:0;
	box-sizing: border-box;
    margin: 0px;
    position: fixed;
    white-space: nowrap;
    z-index: 3000;
    padding-left: 0;
    list-style: none;
}

.test-user-button a{
	background-color: var(--primary-color);
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    outline: none;
    padding: 0;
    position: relative;
    -webkit-user-drag: none;
    color: #f1f1f1;
    padding: 2px;
    margin: 15px;
    height: 45px;
    width: 45px;
    z-index: 20;
}

.test-user-button a>i{
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    line-width: 39px;
    width: 100%;
}