<meta charset="UTF-8" />
	<div class="panel pivo-panel" ng-class="{'card-list-panel-par':vm.index%2!=0}">
		<div class="panel-heading">
			  <div class="pull-left card-list-label-pivo">
			   <strong style="font-size:17px;"" uib-tooltip="{{vm.labelPivo}}">
			    <i class="fa fa-{{vm.icon||'list'}}"></i>  {{vm.labelPivo|uppercase}}
			    </strong>
			  </div>
			  
			  <div class="pull-right">
			     <a ng-click="vm.editFunction(vm.ob)"  class="btn-option-card-list"  ><i class="fa fa-edit"></i></a>
			     <a confirm="Tem certeza que deseja deletar este item?" ng-click="vm.deleteFunction(vm.ob)" class="btn-option-card-list"   ><i class="fa fa-trash"></i></a>
			     <a button-info-ob  objeto="{{vm.ob}}" ng-click="vm.openDetalhePedido(r)" class="btn-option-card-list"  ><i class="fa fa-info-circle"></i></a>
			  </div>
			  <div class="row"></div>		
			  <div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body" ng-transclude>
			
		</div>
	</div>
