<meta charset="UTF-8" />
	<div class="panel pivo-panel">
		<div class="panel-heading">
			<div class="text-left">
				<div class="dropdown">
						<a class="dropdown-toggle text-left"  data-toggle="dropdown">
								<strong style="font-size:17px"><i class="fa fa-bars" aria-hidden="true"></i>  {{vm.labelPivo|uppercase}}</strong></a>
							     <ul class="dropdown-menu list-group pull-left" style="padding:5px">
									 <li ng-click="vm.editFunction(vm.ob)"  class="list-group-item"  >
									        <i class="fa fa-edit" aria-hidden="true"></i> Editar
									 </li>
									 
									 <li confirm="Tem certeza que deseja deletar este item?" ng-click="vm.deleteFunction(vm.ob)"  class="list-group-item"  >
									        <i class="fa fa-trash" aria-hidden="true"></i>  Deletar
									 </li>
									 
									 <li button-info-ob  objeto="{{vm.ob}}" class="list-group-item"  >
									        <i class="fa fa-info-circle" aria-hidden="true"></i> Informações
									 </li>
								 </ul>
				  </div>
			  </div> 
					
			<div class="pivo-panel-separator"></div>
		</div>
		<div class="panel-body" ng-transclude>
			
		</div>
	</div>

