<meta charset="UTF-8" />

<div>
<vertical-space></vertical-space>
<div>
  <div class="row">
    <st-filter-map
		    filter-map-instace="filterMapInstance"
			busca-especial="buscaEspecial"
			filtros="[
 	        
 	        {attr:'evento',placeholder:'Evento'},
			{attr:'descricao',placeholder:'Descrição'},
			{attr:'login',placeholder:'Usuário'}
			
			]
			">
   </st-filter-map>
</div>


<!-- Botão flutuante -->
<ul mfb-menu position="br" effect="zoomin" 
     active-icon="fa fa-edit" resting-icon="fa fa-plus"
     toggling-method="click">
     <a mfb-button  go-link="'produto/cad-step'" icon="fa fa-plus-square" label="Cadastrar produto"></a>
     <a mfb-button  go-link="'atualiza-simple-estoque'" icon="fa fa-truck" label="Lançar entrada de mercadoria"></a>
</ul>
 	
<div class="row"></div>
<div ng-if="objetos.length==0" class="col-lg-12">
 <st-no-itens label="'Nenhum produto encontrado.'"></st-no-itens>
</div>

<div  ng-show="objetos.length>0" id="no-more-tables">
   <table class="modern-table st-table table-bordered table-striped table-condensed cf" >
       <thead class="cf">
		<tr>
			<th>ID</th>
		    <th style="min-width:109px">Data do evento</th>
		    <th>Horário</th>
		    <th>URL</th>
		    <th>PATH</th>
			<th>Usuário</th>
			<th>Evento</th>
			<th>Descrição</th>
		</tr>
		</thead>
		<tbody>
		<tr class="alert-info"  ng-repeat="ob in objetos">
	       <td><strong>{{ob.id}}</strong></td>
	       <td><strong>{{ob.dataCadastro|date:'dd/MM/yyyy'}}</strong></td>
	       <td><strong>{{ob.hora|date:'HH:mm'}}</strong></td>
	       <td><strong>{{ob.url}}</strong></td>
	       <td><strong>{{ob.path}}</strong></td>
	       <td><strong>{{ob.login}}</strong></td>
	       <td><strong>{{ob.evento}}</strong></td>
	       <td><strong><json-tree object="ob.descricao"></json-tree></strong></td>
		</tr>
	  </tbody>
	</table>
</div>
<st-pagination class="only-mobile" filter-map-instance="filterMapInstance"></st-pagination>
</div>
